/* Complete Body common rules */
    
    body 
    {
        /*margin: 10px;*/
        font-family: "Times New Roman",serif;
        font-size: 20px;
        color:white;
        background: rgb(78,55,81);
        background: linear-gradient(90deg, rgba(78,55,81,1) 0%, rgba(4,4,4,1) 100%);
        /*background: rgb(78,55,81);*/
        /*background: linear-gradient(90deg, rgba(78,55,81,1) 0%, rgba(25,25,25,1) 100%);*/
    }   

