/* Complete Body common rules */

body 
{
    margin: 10px;
    font-family: "Times New Roman",serif;
    font-size: 20px;
    color:white;
	background: rgb(10,10,77);
	background: linear-gradient(90deg,rgba(10,10,77,1) 0%, rgba(1,0,16,1) 100%);
}


/* Overall Body Header Structure */

.body-header
{
/*     border:2px solid white; */
    padding:0.5%;
    margin:0.5%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.head
{
    /*     border:2px solid white; */
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    overflow:hidden; 
}

.text-center 
{
    text-align: center;
}

/* widths */
.logo
{
     width:19%; 
    
}

.navigation
{
    width:33%;
}

.search
{
  	width:33%;
}

.profile
{
    width:15%;
}


/* Sub body header parts  */

/* 1) logo  */

#logo-img
{
    display: inline-block;
    border-radius: 50%;
    /*width:35%;*/
    /*max-height:80px;*/
}

.logo a
{
     color: white;
    text-decoration: none;
}


#logo-title
{
    padding:5%;
    width:75%;
    font-family: Georgia, serif;
    font-weight: 800;
    font-size: 1.5rem;
}


/*2) Navigation */

.horizontal-list 
{
    list-style: none;
}

.horizontal-list li 
{
    font-family:Arial;
    display: inline-block;
    margin: 0px 5px 0px 5px;
    font-weight: bolder;
    font-size: 1rem;
}

.horizontal-list li a 
{
    color: lightgrey;
    text-decoration: none;
}

.nav-menu li a 
{
    transition: color 0.2s, border-bottom 4s;
}

.nav-menu li a:hover 
{
    color: white;	
}


/* 3) Search */

.search
{
    justify-content:space-between;
    background:black;
    color:white;
    padding: 4px 14px;
    border-radius:0.7rem;
}

.search i
{
	font-size:1rem;
}
.search input
{
    font-size:1rem;
    background:black;
    color:white;
    padding: 4px 10px;
    border: 0px solid white;   
}

/* 4) profile */

#bell
{
    margin:0px 30px;
    color:lightgrey;
}
#bell:hover
{
    color:white;
}

#dp
{
    margin:0px 10px 0px 0px;
    border-radius: 50%;
    width:35%;
}


/*----------------------------------  */

/* OVERALL CONTENT CONATAINER */
.content-container
{
    /*border:2px solid white;*/
    padding:0.5%;
    margin:0.5%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

main
{
    /*border:2px solid red;*/
    display: flex;
    flex-direction:column;
    width:75%;
}

aside 
{
    width: 25%;
    /*border:2px solid red;*/
    display: flex;
    flex-direction:column;
}

.section
{
    /*border:2px solid white;*/
    margin:1%;
    display:flex;
    overflow:hidden;
    padding:1%;
    
}

/*----------------------------- */
/* CONTENT = ASIDE */

.aside-header
{
     /*border:2px solid cyan; */
    margin:1%;
    padding:1%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.aside-header #queue
{
     /*border:2px solid orange; */
    width:50%;
    text-align:left;
    padding-left: 7.5%;
    font-family:Arial;
    font-size:1.5rem;
    font-weight:bolder; 
}

.aside-header #drop-down
{
    /*border:2px solid orange; */
    width:50%;
    text-align:right;
    font-size:0.8rem;
    color:#07ecf0;
}

.aside-header #drop-down i
{
    font-size:0.4rem;
}

.aside-list
{
/*     height:100%; */
    display:flex;
    flex-direction:column;
}

.aside-list #song
{
     /*border:2px solid cyan; */
    margin:3%;
    padding:1%;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.aside-list span 
{
    /*border:0.5px solid orange;*/
    display:flex;
    justify-content:center;
    align-items:center;   
    overflow:hidden;
}

/*1 Song Number*/
.aside-list #song #number
{
   width:10%;
   font-size:1rem;
   text-align: centers;
   padding-right: 2.5%; 
}

/*2 Song img */

.img
{
    width:30%; 
    overflow: hidden;
    /*margin: 10px;*/
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.img img
{
    width: 100%;
    height: 100%;
}

.play
{
    transition: all 0.3s ease-in-out;
    /*border: 2px solid white;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;   
    padding: 40% 0% 40% 0%;
    /*overflow:scroll;*/
    font-size: 1rem;
}

.play i
{
    font-size: 150%;
   
}

.img:hover .play
{
     /*box-shadow: 0 0 20px #74ADC8;*/
    /*background-color: #80808078;*/
    color: white;
}

.img:hover
{
     box-shadow: 0 0 20px #74ADC8;
    /*background-color: #80808078;*/
    /*color: white;*/
}


/*3 Song name*/
#name 
{
    width:50%;
    flex-direction:column;
    padding: 5%;
}
#name #song-name 
{
    width:100%;
    font-size:1rem;
}
#name #artist-name 
{
    color: #c0cccc;
    width:100%;
    font-size:0.5rem;
}

/*4 Song like*/
#like 
{
    /*border:1px solid white;*/
    font-size:1rem;
    width:10%;
    color:lightgrey;
}
#like:hover 
{
    color: white;
}


/*----------------------------- */
/* CONTENT = MAIN */


/* Banners */

.banners
{   
    height:30%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
     flex-wrap:wrap; 
     overflow: hidden;
    ;
}

#poster
{
    background-color:transparent;    
    /*border:2px solid white;*/
    border-radius: 1%;
    flex-shink:0;
    margin:1%;
    height:80%; 
    width:70%; 
}

#poster img
{
    border-radius: 1%;
    height: 100%;
    width: 100%
}

#poster:hover
{
    box-shadow: 0 0 20px #74ADC8;
}

/* Quick Picks */

.quick-picks
{
    display:flex;
    flex-direction:column;
}

.quick-header
{
    /*border: 2px solid orange;*/
    width: 100%;
    padding-left: 2%;
    font-family:Arial;
    /*margin: 0px 5px 0px 5px;*/
    font-weight: bold;
    font-size: 1.5rem;
}

.quick-container
{
    /*border: 2px solid orange;*/
    margin:1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-song
{
    /*border: 2px solid cyan;*/
    width: 45%;
    height: 40%;
    margin: 0.5%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;   
    overflow:hidden;
}

.main-song span
{
    /*border: 0.5px solid orange;*/
    height: 100%;
    /*padding: 2%;*/
    display:flex;
    justify-content:center;
    align-items:center;   
    overflow:hidden;
}


/*1) Song img = same as aside*/

/*2) Song name = overriding aside name */


.main-song #name #song-name 
{
    font-size:1.2rem;
    line-height: 150%;
}

.main-song #name #artist-name 
{
    font-size:0.9rem;
}

/*3) Song info = not in aside so write whole*/

.main-song .info
{
/*    padding-top:  3%;
    align-items:flex-start;
*/  flex-direction: column;
    /*flex-wrap: wrap; */
    font-size:1.2rem;
    text-align: center;
    width:10%;
    color:lightgrey;
}

.main-song .info #dots
{
    height:35%;  
}

.main-song .info #duration
{
    height: 60%;
    font-size:1.5rem; 
}

.main-song .info i:hover 
{
    color: white;
}




