/* Complete Body common rules */
    
    body 
    {
        /*margin: 10px;*/
        font-family: "Times New Roman",serif;
        font-size: 20px;
        color:white;
        background: rgb(78,55,81);
        background: linear-gradient(90deg, rgba(78,55,81,1) 0%, rgba(4,4,4,1) 100%);
    }   

/*CSS Variables and global classes*/
    :root
    {
        /*--border1:2px solid white; --border2:2px solid orange;--border3:2px solid cyan;--border4:2px solid red;*/
    }

    .flex-row-center
    {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }

    .text-center 
    {
        text-align: center;
    }

    a
    {
        color: lightgrey;
        text-decoration: none;
    }
    
    a:hover 
    {
        color: white;   
    }


    i
    {
        color: lightgrey;
        text-decoration: none;
    }
    
    i:hover 
    {
        color: white;   
    }

     @keyframes pulse
    {
        0%
        {
            transform: scale(1, 1);
        }
        50% 
        {
            transform: scale(1.2, 1.2) skew(-25deg);
        }
        100%
        {
            transform: scale(1, 1);
        }
    }

    @keyframes spin
    {
        0%
        {
            transform: rotate(0deg);
        }
        
        100%
        {
            transform: rotate(360deg);
        }
    }

/* Responsive Design*/

    #mobile
    {
        display: none;
    }

    @media screen and (max-width: 800px)
    {
        #desktop
        {
            display: none;
        }

        #mobile
        {
            display: flex;
        }

        .logo-img
        {
            height: 100%;
            width: 100%;
        }

    }

/* Top Header Bar */

    .body-header
    {
        border:var(--border1); 
        /*padding:0.2%;*/
        /*background-color: #333;*/
        background-image: url(images/theme.jpg);
        background-size: cover;
        /*background-position:left;*/
        position: fixed;
        margin-top: 0px;
        z-index: 10;
        top: 0%;
        left: -0.5%;
        height: 8%;
    }

    .head
    {
        border:var(--border2);
        overflow:hidden;
        /*height: 100%; */
    }

    /* Sub body header parts  */

    /* 1) logo  */
        .logo
        {   width:19%;  height: 100%;   padding: 0% 1%; }

        .logo a
        {
            color: white;
        }

        .logo-img
        {
            border:var(--border3);
            width:35%;
            /*background: transparent;*/
            /*height:100% ;*/
            /*border-radius: 50%;*/
        }


        .logo-title
        {
            border:var(--border3);
            padding:5%;
            width:75%;
            font-family: Georgia, serif;
            font-weight: 800;
            font-size: 1.5rem;
            text-shadow: 2px 2px 4px #000000;
            text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

        }

        /*.logo:hover
        {
            animation:pulse 0.5s ease-in-out 1 alternate;
        }*/

        .logo-title:hover
        {
            animation:pulse 0.5s ease-in-out 1 alternate;
        }

        .logo-img:hover
        {
            animation:spin 0.5s ease-in-out 1 alternate;
        }

    /*2) Navigation */

        .navigation
        {   width:33%; height: 100%;  }

        .horizontal-list 
        {
            list-style: none;
        }

        .horizontal-list li 
        {
            font-family:Arial;
            display: inline-block;
            margin: 0px 5px 0px 5px;
            font-weight: bolder;
            font-size: 1.2rem;
        }

    /* 3) Search */

        .search
        {
            width:33%;
            background:black;
            color:white;
            padding: 2px 2px;
            border-radius:0.7rem;
        }
        .search form
        {
            justify-content:space-between;
        }
        .search i
        {
            border:var(--border3);
        	width: 10%;
            font-size:1rem;
            text-align: center;
            /*font-family:Arial;*/
            display: inline-block;
            margin: 0px 5px 0px 5px;
            font-weight: bolder;
            font-size: 1.2rem;
        }
        .search input
        {
            border:var(--border3);
            /*border: 0px solid black;   */
            width: 80%;
            font-size:1rem;
            background:black;
            color:white;
            padding: 4px 0px;
        }

    /* 4) profile */

        .profile
        {
            width:15%; height: 100%;
            justify-content:space-around;
        }
        .bell
        {
            border:var(--border3);
            margin:0px 10px 0px 50px;
        }

        .dp
        {   border:var(--border3);
            margin:0px 10px 0px 0px;
            border-radius: 50%;
            width:auto;
            height: 100%;
        }

        .dp:hover
        {
            border:2px solid white;
        }

/* CONTENT  */
    .content
    {
        border:var(--border1);
        padding:0.5%;
        padding-bottom: 1%;
        margin-top:4%;
        align-items:flex-start;
        justify-content: flex-start;
        height: 90%;
        width: 100%;
        position: fixed;
        overflow: scroll;
    }

    main
    {
        border:var(--border4);
        display: flex;
        flex-direction:column;
        width:75%;
        /*overflow: scroll;*/
    }

    aside 
    {
        border:var(--border4);
        width: 23%;
        height: 88%;
        flex-direction:column;
        position: fixed;
        /*order: 2;*/
        right: 0.5%;
        overflow: hidden;
    }

    .section
    {
        border:var(--border1);
        /*border-bottom: 1px solid black;*/
        margin:0.5%;
        padding:1%;
        height:30%;
        overflow:hidden;
        display: flex;
        flex-direction:column;
        overflow:hidden;
  
    }

    /*/Header for all sections*/
    
    .header
    {
        border:var(--border2);
        width: 98%;
        margin: 1%;
        font-family:Arial;
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 2px solid white;
    }

    .heading
    {
        border:var(--border3);
        width:48%;
        /*margin:1%;*/
        /*padding:1%;*/
        text-align:left;
        font-family:Arial;
        font-size:1.5rem; 
    }

    .subheading
    {
        font-weight: lighter;
        font-family:sans-serif;
        padding-left: 2%;
        font-size: 0.75rem;
        color: lightgrey;
        text-transform: uppercase;
    }

    .heading2
    {
        border:var(--border3);
        width:48%;
        /*margin:1%;*/
        /*padding:1%;*/
        text-align:right;
        font-size:0.8rem;
        color:lightgrey;
    }

    .heading2:hover
    {
        color:white;
    }

    /*Container for all sections*/
    .container
    {
        border:var(--border2);
        width: 98%;
        height: 100%;
        margin:1%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /*overflow: scroll;*/
    }

/* ASIDE */

    aside header i
    {
        font-size:0.4rem;
    }
    aside .container
    {
        height: 93%;
        margin-top: 2%;
        overflow: scroll;
        padding-right: 6%;
        padding-bottom: 7%;
    }

/*SONG */
    .song
    {
        border:var(--border3);
        width: 98%;
        margin: 1.25% 1%;
        /*align-items: center;*/
    }

    .song span 
    {
        /*border:0.5px solid orange;*/
        display:flex;
        justify-content:center;
        align-items:center;   
        overflow:hidden;

    }

    aside .song
    {
        border-radius:1.5rem;
    }

    .song:hover
    {
        /*border-radius:1.5rem;*/
        /*border: 1px solid black;*/
        background-color: black;
    }

    /*1 Song Number*/

        .song-number
        {
           width:10%;
           padding-right: 2.5%;
           font-size:1rem;
           text-align: center; 
        }
    /*2 Song img */

        .img
        {
            width:20%;
            position: relative;

        }

        .img img
        {
            width: 100%;
            height: 100%;
        }

        .play
        {
            transition: all 0.3s ease-in-out;
            /*border: 2px solid white;*/
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

        }

        img:hover
        {
             box-shadow: 0 0 20px #74ADC8;
        }

        .play:hover
        {
            color: white;
        }

        .img:hover .play
        {
             /*box-shadow: 0 0 20px #74ADC8;*/
            opacity: 1;
            color: white;
        }
    /*3 Song Details*/
        .song-detail 
        {
            width:50%;
            flex-direction:column;
            padding: 5%;
        }
        .song-detail #song-name 
        {
            border:var(--border3);
            width:100%;
            font-size:1rem;
        }
        .song-detail #artist-name 
        {
            border:var(--border3);
            color: #c0cccc;
            width:100%;
            font-size:0.5rem;
        }
    /*4 Song like*/
        #like 
        {
            /*border:1px solid white;*/
            font-size:1rem;
            width:10%;
            color:lightgrey;
            padding-right: 1%;
        }
        #like:hover 
        {
            color: white;
        }

/* MAIN */


    /* Banners */

        .banners
        {   
            display: flex;
            flex-direction:row;
            justify-content:center;
            align-items:center;
            /*flex-wrap:wrap;*/
            overflow:hidden;

        
        }

        #poster
        {
                background-color:transparent;    
                /*border:2px solid white;*/
                border-radius: 1%;
                flex-shrink:0;
                margin:1%;
                height:80%; 
                width:70%; 
                /*position: sticky;*/
        }

        #poster img
        {
            border-radius: 1%;
            height: 100%;
            width: 100%
        }

        #poster img:hover
        {
            box-shadow: 0 0 25px #74ADC8;
        }

    /*Quick Picks*/

        /*main container is used to override container's functionality*/
        .main-container  
        {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            overflow: hidden;  
        }

        /*Overriding aside's song's functionality*/
        .quick-picks .song
        {
            width:30%;
        }

        .quick-picks #song-name
        {
            font-size:1.3rem;
        }

        .quick-picks #artist-name
        {
            font-size:1rem;
        }

    /*Artists*/

        .singer
        {
            border: var(--border3);
            /*border-radius: 50%;*/
            width: 12%;
            height: 80%;
            margin: 0.5%;
            padding :1%;
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;   
            overflow:hidden;
        }

        .singer div
        {
            /*border: 0.5px solid red;*/
            height: 90%;
            width: 100%;;
            /*margin: 0.5%;*/
        }

        .singer .name
        {
            height: 10%;
            width: 100%;
            /*margin: 0.5%;*/
            text-align: center;
        }

        .singer .img
        {
            border-radius: 50%;
        }

        .singer .img img
        {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            padding: 1%;
        }

        .singer img:hover
        {
            /*border: 2px solid white;*/
            /*border-radius: 50%;*/
            background-color: white;
        }

    /*Playlists*/

        .box
        {
            border: var(--border3);
            /*height: 70%;*/
            width: 30%;
            margin:1%;
            display:flex;
            justify-content:center;
            align-items:center;

        }

        .box .img
        {   
            /*border: 2px solid white;*/
            /*border-radius: 0%; */
            height: 70%;
            width: 100%;
            display: flex;
            align-items:center;
            justify-content: center;
            background-color: white;
        }

        .box .img img
        {
              opacity: 0.8;
        }

        .box .play
        {   
            /*border: 5px solid red;*/
            transition: 0s;
            /*color: lightgrey;*/
            font-weight:bold;
            font-size: 2rem;
            color: black;
            opacity: 1;
            height: auto;
            width: auto;
            top: auto;
            left: auto;
            padding: 0%;

            /*justify-content:center;
            align-items:center;*/
        }

    /*Latests*/

    .latest .main-container
    {
        justify-content: flex-start;
        align-items:center;
        flex-wrap: wrap;
    }

    .latest-song
    {
        border: var(--border1);
        width: 12%;
        height: 80%;
        margin: 0.5%;
        border-radius: 5%;
        padding :1%;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;   
        overflow:hidden;
    }

    .latest-song:hover 
    {
        border-radius:5%;
        /*border: 2px solid black;*/
        background-color: black;
        /*box-shadow: 0 0 20px #74ADC8;*/
    }


    .latest-song .img
    {
        border: var(--border4);
        border-radius: 5%;
        width: 100%;
        height: 80%;
    }

    .latest-song .img img
    {
        border-radius: 5%;
    }


    .latest-song .play
    {
        display:flex;
        border-radius: 5%;
        /*flex-direction: column;*/
        justify-content:center;
        align-items:center; 
    }
    .latest-song .song-detail 
    {
        height: 20%;
        width:100%;
        text-align: left;
        overflow: hidden;
    }

    .latest-song .song-detail div
    {
        text-align: left;
        overflow-wrap:break-word;
        margin:1%; 
    }

    .latest-song .song-detail #song-name 
    {
        font-size:1rem;
        height: auto;
    }
    .latest-song .song-detail #artist-name 
    {
        font-size:0.8rem;
        height: auto;
    }